/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: Comic Sans MS;
  font-style: italic;
  color: #000000;
  text-align: center;
}

h4 {
  font-family: Tahoma;
  color: red;
}
p9 {
  font-family: Times New Roman;
}
p10 {
  color: red;
}
ol :first-letter {
  background-color: pink;
  font-size: 160%;
  color: red;
}
hr {
  clear: both;
}
img {
  float: right;
}
